/* 基础 */
:root{
    --bg-ao: rgba(246, 253, 255, 0.72);
    --bg-haiao: rgba(141, 215, 226, 0.17);
    --bg-shiro: rgba(255, 255, 255, 0.9);
}
body{ background: var(--bg-ao); }
* { font: "Rounded Mplus 1c"; }

/* 组件样式变更 */
.p-card .p-card-content{ padding: 0; font-weight: 500; font-size: 1.1rem; }
.p-card .p-card-subtitle{ font-weight: 900; }
.p-card .p-card-title{ font-size: 1.4rem; }
.p-card .p-card-body { padding-bottom: 0.5rem; }
.p-card *{ text-align: center; -webkit-user-select: none; /* Safari */ -moz-user-select: none; /* Firefox */ -ms-user-select: none; /* IE10+/Edge */ user-select: none; }
.p-card .p-card-footer { padding: 0; margin: 1rem 0; text-align: end; position: relative; right: 1rem; }
.p-card-content p { padding-left: 1rem; text-align: left; }

/* 点击动画 */
.anime-div{ border: 0.00625rem solid transparent; transition: 0.3s ease-in-out; }
.anime-div:hover{ cursor: pointer; position: relative; transform: translate(0rem, 0rem); border-color: rgba(0, 44, 54, 0.14); box-shadow: 0.3125rem 0.1875rem 0.1875rem 0.0625rem rgba(0, 44, 54, 0.5),  -0.00625rem 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.14), 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.12); background-color: rgba(178, 221, 231, 1); transition: 0.3s; animation-timing-function: ease-in-out; }
.anime-div:active{ cursor: pointer; position: relative; transform: translate(0.3125rem, 0.1875rem); box-shadow: none; border-color: rgba(0, 44, 54, 0.14); background-color: rgb(140, 184, 194, 0.8); transition: 0.2s; animation-timing-function: linear; }
/* 通用设置 */
.opacity-div{ display: flex; justify-content: center; align-items: center; }
.back-card{ background-color: var(--bg-haiao); box-shadow: 0.3125rem -0.1875rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.2), -0.00625rem 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.14), 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.12); margin: 1.25rem 3.75rem 1.25rem 3.75rem; }
.p-tooltip .p-tooltip-text { background: rgba(0, 44, 54, 0.7); padding: 0.4rem 0.75rem 0.45rem 0.75rem; margin: 0.4rem 0; }
.list-card{ background-color: var(--bg-shiro); box-shadow: 0.3125rem -0.1875rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.2), -0.00625rem 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.14), 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.12); margin: 1.25rem 3.75rem 1.25rem 3.75rem; flex: 1;}


.subtitle-box{ display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
.subtitle-box span:nth-child(1){ grid-column: 3; grid-row: 1;}
.subtitle-box span:nth-child(2){ grid-column: 4; grid-row: 2; justify-self: flex-end; font-weight: 500;}
.subtitle-box span:nth-child(3){ grid-column: 5; grid-row: 3; font-weight: 500; }

@media screen and (max-width: 600px) {
    .back-card{
        margin: 0.25rem; 
    }
    .list-card{
        margin: 0;
        margin-bottom: 1rem;
    }
    .p-card .p-card-title{
        font-size: 1.1rem;
        
    }
    .subtitle-box{ grid-template-rows: 1fr 1fr 1fr;font-size: 0.9rem; }
    .subtitle-box span:nth-child(1){ grid-column: 2/5; grid-row: 1;}
    .subtitle-box span:nth-child(2){ grid-column: 3/6; grid-row: 2;}
    .subtitle-box span:nth-child(3){ grid-column: 3/6; grid-row: 3; }
    .p-card .p-card-content{font-size: 0.9rem;}
}